name: data
on:
  schedule:
    - cron: 5 6 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://domains.dotgov.gov/dotgov-web/publicreports/current-federal
          downloaded_filename: current-federal.csv
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://domains.dotgov.gov/dotgov-web/publicreports/current-full
          downloaded_filename: current-full.csv
